@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    
    box-sizing: border-box;
    background-color: rgb(119, 117, 117);
    font-family: "Krona One", sans-serif;
}


h1 {
    color: #F6F6F6;
    font-family:  "Krona One", sans-serif;
    font-size: 36px;
}

p{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    margin-top: 10px;
}

.strong_titulo {
    color: #22D4FD;    
    font-family: "Krona One", sans-serif;
}

.strong_titulo:hover{
    color: red;
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #22D4FD;
    text-decoration: none;
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    width: 615px; 
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__botao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentao__links:hover{
    background-color: #272727;
    padding: 10%;
}

.apresentacao__subtitulo{
    font-family: "Krona One", sans-serif;
    color: white;
    font-weight: 400;
    font-size: 24px;
}

.apresentao__links{
    color: white;
    width: 378px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #22D4FD;
    border-radius: 10px;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-decoration: none;
    padding: 20px;
    margin-top: 20px;
}

.imagem{
    margin-left: 10px;
    height: 700px;
}

.rodape{
    background-color: #22D4FD;
    padding: 24px;
    text-align: center;   
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
}