@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: rgb(119, 117, 117);
    font-family: "Krona One", sans-serif;
}


h1 {
    color: #F6F6F6;
    font-family:  "Krona One", sans-serif;
    font-size: 36px;
}

p{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    margin-top: 10px;
}

.strong_titulo {
    color: #22D4FD;    
    font-family: "Krona One", sans-serif;
}

.apresentacao{
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    width: 615px; 
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__botao {
    display: flex;
    justify-content: space-between;
}

.apresentao__links{
    color: black;
    width: 280px;
    text-align: center;
    border: 5px #22D4FD solid;
    border-radius: 5px;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-decoration: none;
    padding: 20px;
    margin-top: 20px;
}

.imagem{
    margin-left: 10px;
}
