@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root{
 --cor-principal:#153448;
 --cor-secundaria:#948979;
 --cor-terciaria:#DFD0B8;
 --cor-hover:#3C5B6F;

 --fonte-principal: "Krona One", sans-serif;
 --fonte-secundaria: "Montserrat", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    
    box-sizing: border-box;
    background-color: var(--cor-principal);
    font-family: var(--fonte-principal);
}

h1 {
    color: var(--cor-secundaria);
    font-family:  var(--fonte-principal);
    font-size: 2.25rem;
}

p{
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    margin-top: 10px;
}

.strong_titulo {
    color: var(--cor-terciaria);    
    font-family: var(--fonte-principal);
}

.strong_titulo:hover{
    color: var(--cor-hover);
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    width: 50%; 
    display: flex;
    flex-direction: column;
    gap: 82px;
}

.apresentacao__botao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentao__links:hover{
    background-color: var(--cor-hover);
    padding: 10%;
}

.apresentacao__subtitulo{
    font-family: var(--fonte-principal);
    color: var(--cor-secundaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentao__links{
    color: var(--cor-secundaria);
    width: 378px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-secundaria);
    border-radius: 10px;
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    text-decoration: none;
    padding: 20px;
    margin-top: 20px;
}

.imagem{
    width: 50%;
}

.rodape{
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;   
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width:1200px){

    .cabecalho{
        padding: 10% ;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
        margin-top: 10px;
    }

    .apresentacao__conteudo{
        width: auto;
    }
}